.dashboard-header-section {
  width: 100%;
  height: 100%;

  .dashboard-header-section-container {
    height: inherit;
    width: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;

    .search-box {
      display: flex;
      height: 25px;
      padding: 5px 10px;
      border-radius: 15px;
      background-color: #ffffff;
      align-items: center;
      gap: 3px;
      svg {
        height: 16px;
      }
      input,
      button {
        background-color: transparent;
        width: 100%;
        border: none;
        outline: none;
        padding: 0px;
        height: 100%;
      }
      button {
        width: max-content;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #e4e4e4;
        border-radius: 5px;
        padding: 0px 5px;
        color: #676060;
        font-size: 11px;
        svg {
          font-size: 12px;
        }
      }
    }
    .profile-container {
      display: flex;
      gap: 10px;
      background-color: red;
      width: max-content;
      .action-menu {
        display: flex;
        gap: 10px;
        button {
          background-color: #fff;
          height: 100%;
          aspect-ratio: 1/1;
          border: none;
          outline: none;
          padding: 0px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 16px;
        }
      }
      .header-actions {
        display: flex;
        align-items: center;
        gap: 5px;
        .img-container {
          height: 30px;
          aspect-ratio: 1/1;
          overflow: hidden;
          background-color: #ffffff;
          border-radius: 50%;
          img {
            height: inherit;
            width: auto;
          }
        }
        .name-container {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          h2 {
            font-size: 12px;
            font-weight: 500;
          }
          p {
            font-size: 10px;
            font-weight: 300;
            color: #676060;
          }
        }
      }
    }
  }
}
