.carosel {
    height: 300px !important;
    width: 100%;

    img {
        height: 100%;
        width: 100%;
    }

    .swiper-button-next,
    .swiper-button-prev {
        color: #000 !important;

        &::after {
            font-size: 1.4rem;
            font-weight: 1000;

        }
        &:active{
    color: #ffffff !important;

        }
    }
}

.no-img {
    background-color: #0000003d;
}


.swiper-pagination-bullet {
    height: 13px !important;
    width: 13px !important;
    background-color: #ffffff !important;
    opacity: 1 !important;
}

.swiper-pagination-bullet-active {
    background-color: rgb(87, 76, 76) !important;
}

@media only screen and (min-width:200px) and (max-width:700px) {
    .carosel {
        height: 200px !important;
    }

    .carosel .swiper-button-next::after,
    .carosel .swiper-button-prev::after {
        font-size: .9rem;

    }

    .swiper-pagination-bullet {
        height: 8px !important;
        width: 8px !important;
    }
}

@media only screen and (min-width:200px) and (max-width:560px) {
    .carosel {
        height: 140px !important;
    }
}