.hero-section {
    width: calc(100% - 20px);
    display: grid;
    grid-template-columns: 70% 30%;
    box-sizing: content-box;
    padding: 10px;
    background-color: #FFFFFF;
    border-radius: 2px;
    overflow: hidden;

    .inner-hero {
        overflow: hidden;
        aspect-ratio: 16/9;
        background-color: red;

        img {
            height: 100%;
            width: 100%;
        }
    }

    .right-section {
        padding-left: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        overflow: hidden;
        margin-right: 10px;

        .img-container {
                flex: 1;
                height: 100%;
                width: 100%;
                position: relative;
            img {
                position: absolute;
                height: 100%;
                width: 100%;
            }
        }
    }

}




// @media only screen and (min-width:200px) and (max-width: 800px) {

//     .hero-section {
//         height: 410px;
//         grid-template-columns: 100%;

//         .right-section {
//             padding: 0px;
//             display: grid !important;
//             grid-template-columns: 1fr 1fr 1fr;
//         }
//     }

// }

// @media only screen and (min-width:200px) and (max-width: 700px) {
//     .hero-section {
//         height: 310px;
//     }

// }

// @media only screen and (min-width:200px) and (max-width: 600px) {
//     .hero-section {
//         height: 280px;
//         padding: 5px;

//         .right-section {
//             img {
//                 height: calc(100px - 30px);
//             }
//         }

//     }



// }

// @media only screen and (min-width: 200px) and (max-width: 750px) {
//     .hero-section {
//         height: 220px;
//         padding: 5px !important;
//         width: calc(100% - 20px);
//         margin: 5px auto;
//     }

// }

// @media only screen and (min-width:200px) and (max-width:560px) {
//     .hero-section {
//         height: 220px;
//         padding: 0px;
//     }
// }