.profile-header-section {
    display: flex;
    align-items: center;
    gap: 5px;

    .img-container {
        height: 40px;
        aspect-ratio: 1/1;
        overflow: hidden;
        background-color: #ffffff;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: calc(100% - 15px);
            height: calc(100% - 15px);
        }
    }

    .name-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        h2 {
            font-size: 12px;
            font-weight: 500;
        }

        p {
            font-size: 10px;
            font-weight: 300;
            color: #676060;
        }
    }
}