.book-cart {
    position: relative;
    padding: 0px;
    background-color: #e4e4e4;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;


    /* box-shadow: 1px 2px 3px rgba(136, 107, 107, 0.418),
        2px 3px 7px rgba(136, 107, 107, 0.288),
        1px 1px 4px rgba(136, 107, 107, 0.336); */
    a {
        text-decoration: none;

        .card-img {
            width: 100%;
            height: 150px;
            display: flex;
            justify-content: center;

            img {
                width: auto;
                height: 100%;
            }
        }

        .book-details {
            margin-top: 10px;

            h6 {
                text-align: center;
                font-size: 12px;
            }
        }
    }

    .borrow-btn {
        width: 100%;
        padding: 10px 0;
        color: #fff;
        text-align: center;
        font-weight: 500;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        border: none;
        background-color: var(--primary-background);

        &:hover {
            opacity: 0.6;
        }
        &:disabled {
            opacity: 0.6;
        }
    }

}