@import "tailwindcss";

:root {
  --background: #ffffff;
  /* --primary-background: #eca012; */
  --primary-background: #f68f11;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  width: 100vw;
  body {
    width: 100vw;
    max-width: 100vw;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    overflow-x: hidden;
  }
}

.container {
  padding: 0px 10px !important;
  width: 100vw; 
  min-width: 100vw; 
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}