.auth-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;

}

.form-wrapper {
  background-color: #c0f1ff;
  background-color: var(--primary-background);
  padding: 2.5rem 2rem;
  margin: 10px 0px;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: calc(100% - 15px);

  .form-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    img{
      height: 80px;

    }

    h2 {
      text-align: center;
      margin-bottom: 1.5rem;
      color: #FFFFFF;
      display: none;
    }
  }

}



form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

label {
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
  color: #fff;
}

input {
  margin-top: 0.3rem;
  padding: 0.7rem 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 0.95rem;
  transition: all 0.3s ease;
  &.warning{
    border-color: red;
  }
}

input:focus {
  outline: none;
  border-color: #6a11cb;
  box-shadow: 0 0 5px rgba(106, 17, 203, 0.5);
}

button {
  padding: 0.8rem;
  background: #000;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background: #2575fc;
}

@media (max-width: 480px) {
  .form-wrapper {
    padding: 2rem 1.5rem;
  }

  input,
  button {
    font-size: 0.9rem;
  }
}