.custom-select-component {
    position: relative;
    width: 100%;

    .selected-value {
        display: flex;
        gap: 3px;
        align-items: center;
        padding-left: 5px;
        color: #595656;


        &:focus {
            &+.option-container {
                display: block;
            }
        }

    }


    .option-container {
        position: absolute;
        min-width: 150px;
        max-width: inherit;
        width: inherit;
        box-sizing: border-box;
        min-height: max-content;
        border-radius: 5px;
        border: 1px solid #e4e4e4;
        background-color: #FFF;
        box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);

        overflow: hidden;
        top: calc(100% + 9px);
        right: -12px;
        display: none;
        padding: 5px;

        &:hover {
            display: block;
        } 

        option {
            display: block;
            padding: 8px 15px;
            font-size: 14px;
            color: #595656;
            cursor: pointer;
            transition: background 0.2s;

            &:hover {
                background-color: #f2f2f2;
            }
        }

    }



}