.admin-inventory {
    .inventory-filter-section {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &>div {
            display: flex;
            align-items: center;
            gap: 3px;
            height: 30px;
            padding: 0px 10px;
            border: 1px solid #9e9e9e;
            border-radius: 5px;

            * {
                border: none;
                outline: none;
                padding: 0px;
                margin: 0px;
                background-color: transparent;

            }

            label {
                color: #a6a6a6;
            }

            select {
                color: #746c6c !important;

            }

            &.button {
                background-color: var(--primary-background);
                border-color: var(--primary-background);

                * {
                    cursor: pointer;
                }

                button {
                    color: #FFFFFF;
                    display: flex;
                    align-items: center;
                    gap: 5px;

                    svg {
                        font-size: 18px;
                    }
                }
            }

        }
    }

    .inventory-table {
        margin-top: 20px;

        table {
            width: 100%;
            border-collapse: collapse;

            tbody {
                tr {
                    border-top: 1px solid #ddd;

                }
            }

            th,
            td {
                padding: 10px;
                text-align: left;
                font-weight: 400;

            }

            th {
                // background-color: #f2f2f2;
                color: #a6a6a6;

            }

            td {
                &.img-container {
                    &>div {
                        display: flex;
                        align-items: center;
                        gap: 10px;

                        img {
                            height: 30px;
                            width: 30px;
                            object-fit: cover;
                            border-radius: 5px;
                            border: 1px solid #ccc;
                        }
                    }

                }
            }

            tr:hover {
                background-color: #f5f5f5;
            }
        }
    }
}